[submodule "thirdparty/rendkit"]
	path = thirdparty/rendkit
	url = https://github.com/keunhong/rendkit.git
[submodule "thirdparty/kitnn"]
	path = thirdparty/kitnn
	url = https://github.com/keunhong/kitnn.git
[submodule "thirdparty/toolbox"]
	path = thirdparty/toolbox
	url = https://github.com/keunhong/toolbox.git
[submodule "thirdparty/vispy"]
	path = thirdparty/vispy
	url = https://github.com/keunhong/vispy.git
[submodule "thirdparty/siftflow"]
	path = thirdparty/siftflow
	url = https://github.com/keunhong/siftflow.git
[submodule "thirdparty/brender"]
	path = thirdparty/brender
	url = https://github.com/keunhong/brender.git
