body {
    line-height: 160%;
    font-size: 16px;
    margin: 0;
}

path.link {
    fill: none;
    stroke-width: 2px;
}

.node:not(:hover) .nodetext {
    display: none;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: normal;
}

h2, h3 {
    font-size: 18px;
    margin: 5px 0;
    font-weight: normal;
}

header {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

a:link {
    color: #EE3124;
    text-decoration: none;
}

a:visited {
    color: #EE3124;
}

a:hover {
    color: #A4CD39;
    text-decoration: underline;
}

a:active {
    color: #EE3124;
}