<!DOCTYPE html>
<html>
    <head>
        <title>Photoshape</title>
        <h1>Photoshape</h1>
    </head>

    <body>
    {% block content %}{% endblock content %}
<div class="container" style="text-align:center">
        <p class="legal-info-text">Copyright <span class="font-family-base-sans-serif">©<strong></strong></span><strong> 2019 Yifan Xu. All rights reserved.</strong> <span class="font-family-base-sans-serif">®</span></p>
    </div>
    </body>

</html>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static '/homepage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/croppie.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src={% static '/croppie.js' %}></script>
<script src={% static '/homepage.js' %}></script>
<script src={% static '/three.js' %}></script>
<script src={% static  '/OBJLoader.js' %}></script>



