{% extends "base.html" %}
{% block content %}


<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" id="step1" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="step2" role="progressbar" style="width: 0%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="step3" role="progressbar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>


<div class="file-upload">

      <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
    <div class="image-upload-wrap">
    {% if content %}
    <div style="color:red">{{ content }}</div>
    {% endif %}
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />

  </div>
<div id="croppedImage" style="padding-bottom:80px">        
<div id="canvasDiv"></div>
  <div id="file-upload-content">
    <img id="upload-image" src="#" alt="your image" />
    <div id="image-title-wrap">
    </div>
  </div>
  <div id="cropped">

  </div>
</div>

<button id="crop-btn" style="display:none" class="file-upload-btn" type="button" onclick="showCropped();">Go</button>
</div>
<h2 id="load" style="display:none">Loading...(it might take around 20s)</h2>
<h2 id="error" style="display:none"></h2>
<div class="file-upload" id="results">
  <div id="original">
    
    
  </div>

  <form id="infer_results" action='/' method="POST">
  </form>
<button id="submit_btn" class="file-upload-btn" onclick="submitResult();" style="display:none">Submit</button>

</div>

{% endblock %}
