<!DOCTYPE html>
<html>
    <head>
        <title>Extract Materials</title>
        <h1>Extract Materials</h1>
    </head>

    <body>

			<style>
					body { margin: 0; }
					canvas { width: 100%; height: 100% }
				</style>
		<h1>{{ url }}</h1>
		<div id="models"></div>
	</body>
	</html>
	
	{% load staticfiles %}
	
	<link rel="stylesheet" type="text/css" href="{% static '/homepage.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/croppie.css' %}" />
	<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src={% static '/croppie.js' %}></script>
	<script src={% static '/homepage.js' %}></script>
	<script src={% static '/three.js' %}></script>
	<script src={% static  '/OBJLoader.js' %}></script>
	<script>
			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera( 50, window.innerWidth/window.innerHeight, 0.1, 1000 );

			var ambient = new THREE.AmbientLight( 0x444444 );
			scene.add( ambient );
			var directionalLight = new THREE.DirectionalLight( 0xffeedd );
			directionalLight.position.set( 0, 0, 1 ).normalize();
			scene.add( directionalLight );

			var renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.getElementById("models").appendChild( renderer.domElement );


			var loader = new THREE.OBJLoader();
			var model;

			var index = 0;
			var files = [];
			var elevations = [];
			var azimuths = [];

			var objLoader = new THREE.OBJLoader();
			
			function loadNextFile() {

			  if (index > files.length - 1) {
			  	animate();
			  	return;
			  }

			  objLoader.load(files[index], function(object) {
		    		object.traverse(function(node){
					if (node.material) {
						node.material.side = THREE.DoubleSide;
					}
				})
				model = object;
				console.log(files[index])
				scene.add(object);
				model.position.x += (index-2)/3;		
				model.rotation.y += azimuths[index]-0.5*Math.PI;
				model.rotation.x += 0.5*Math.PI - elevations[index];
				index++;
			    loadNextFile();

			  },
			  	function ( xhr ) {
					console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );

				},
				function ( error ) {
					console.log( 'An error happened' );
				});
	}

			{% for id, phi, theta in models %}
			//console.log({{ id }})
			//console.log({{ phi }})
			//console.log({{ theta }})
			files.push('/static/blobs/shapes/'+{{ id }}+'/uvmapped.obj');
			elevations.push({{ phi }});
			azimuths.push({{ theta }});
			{% endfor %}			
			

			camera.position.z = 2
                        loadNextFile();


			var animate = function () {
				renderer.render( scene, camera );
			};

		</script>


