
<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
  <div id="models" style="display:none"></div>
  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
        aria-controls="collapseOne1">
        <h5 class="mb-0">
          Original Image <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body">
        <div id="originalImg"><img id="original" src="{{ url }}" alt="your image" /></div>
      </div>
    </div>

  </div>
  <!-- Accordion card -->
<div id="step2-block">
  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="mb-0">
          2D Model <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
      <div class="card-body">
         <div id="color"></div>
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 class="mb-0">
          3D Model <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
      <div class="card-body">
        <div id="3Dmodel"></div> 
      </div>
    </div>

  </div>
  <!-- Accordion card -->
</div> <!-- step2-block -->
</div>
<!-- Accordion wrapper -->
<button id="material-btn" style="display:none" class="file-upload-btn" type="button" onclick="submit_g();">Next</button>
<button id="again" style="display:none" class="file-upload-btn" type="button" onclick='back()'>Start again</button>

<script>
	  function loadModels() {
	  $('#second-step').removeClass("warning").addClass("active");
	  $("#second-step > a > .circle").html("2"); 
	  $('#material-btn').show();
		var camera = new THREE.PerspectiveCamera( 50,  1, 0.1, 5000 );
		var scene = new THREE.Scene();
		var scene2 = new THREE.Scene();
		var scene3 = new THREE.Scene();

		var renderer = new THREE.WebGLRenderer({preserveDrawingBuffer:true});
		renderer.setSize( 1000, 1000 );
		document.getElementById("models").appendChild( renderer.domElement );
		$(renderer.domElement).attr('id', 'grayscale');
		var renderer2 = new THREE.WebGLRenderer();
		renderer2.setSize(  500, 500 );
		document.getElementById("color").appendChild( renderer2.domElement );
		var renderer3 = new THREE.WebGLRenderer();
		renderer3.setSize(  500, 500 );
		document.getElementById("3Dmodel").appendChild( renderer3.domElement );
			
		var ambient = new THREE.AmbientLight( 0x333333 );
		scene3.add( ambient );
		var directionalLight = new THREE.DirectionalLight( 0xffeedd );
		directionalLight.position.set( 0, 0, 1 ).normalize();
		scene3.add( directionalLight );

		var model;
		var index = 0;
		var files;
		var elevations;
		var azimuths;
		var bounding;
		var materials_g = [];
		var materials_c = [];
{% for id, phi, theta, bounding in models %}
console.log({{ id }})
console.log({{ phi }})
console.log({{ theta }})
console.log({{ bounding }})
  files = '/static/blobs/shapes/'+{{ id }}+'/models/uvmapped_v2.obj';
  elevations = {{ phi }};
  azimuths = {{ theta }};
  bounding = {{ bounding }};
{% endfor %} 

{% for material, i in g_materials%}
  materials_g.push(['{{ material }}', new THREE.MeshBasicMaterial({ color: 'rgb({{ i }}, {{ i }}, {{ i }})', side: THREE.DoubleSide })] );
{% endfor %}
{% for material, c in c_materials%}
  materials_c.push(['{{ material }}', new THREE.MeshBasicMaterial({ color: '{{ c }}', side: THREE.DoubleSide })] );
{% endfor %}
function animate() {
    renderer.render( scene, camera );
};

function animate2() {
     renderer2.render(scene2, camera);
};

		function loadNextFile() {
		    objLoader.load(files, function(object) {
		        object.traverse(function(node){
                            if (node.material) {
		                node.material = new THREE.MeshBasicMaterial({ name: node.material.name, color: 'rgb(0, 0, 0)', side: THREE.DoubleSide })
		            }

		            for (var i = 0; i < materials_g.length; i++) {
                                if ("material" in node && node.material.name==materials_g[i][0]) {
                                    node.material =  materials_g[i][1];
			        }
			}})
			model = object;
			scene.add(object);
			model.scale.x *= (1 / bounding);
			model.scale.y *= (1 / bounding);
			model.scale.z *= (1 / bounding);	
			model.rotation.y += azimuths-0.5*Math.PI;
			model.rotation.x += 0.5*Math.PI - elevations;
			animate();
		    },
		    function ( xhr ) {
			console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );

		    },
		    function ( error ) {
			console.log( 'An error happened' );
		    });
		}

function loadNextFile2() {
	objLoader2.load(files, function(object) {
		object.traverse(function(node){
			if (node.material) {
				node.material = new THREE.MeshBasicMaterial({ name: node.material.name, color: 'rgb(0, 0, 0)', side: THREE.DoubleSide })

			}
                        for (var i = 0; i < materials_c.length; i++) {
				if ("material" in node && node.material.name==materials_c[i][0]) {
					    node.material =  materials_c[i][1];
				}   
		}})
		model = object;
		scene2.add(object);
		model.scale.x *= (1 / bounding);
		model.scale.y *= (1 / bounding);
		model.scale.z *= (1 / bounding);     
		model.rotation.y += azimuths-0.5*Math.PI;
		model.rotation.x += 0.5*Math.PI - elevations;
		animate2();
	},
		function ( xhr ) {
			console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
		},
		function ( error ) {
			console.log( 'An error happened' );
	});

}

function loadNextFile3() {
    objLoader3.load(files, function(object) {
	object.traverse(function(node){
            if ("material" in node) {
                 node.material.side = THREE.DoubleSide;
            }
        })
        model = object;
        scene3.add(object);
        model.scale.x *= (1 / bounding);
        model.scale.y *= (1 / bounding);
        model.scale.z *= (1 / bounding);     
        model.rotation.y += azimuths-0.5*Math.PI;
        model.rotation.x += 0.5*Math.PI - elevations;
        renderer3.render(scene3, camera);          
    },
    function ( xhr ) {
        console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );

     },
     function ( error ) {
         console.log( 'An error happened' );
     });
 }

		var objLoader = new THREE.OBJLoader();
		var objLoader2 = new THREE.OBJLoader();
		var objLoader3 = new THREE.OBJLoader();
		loadNextFile();	
		loadNextFile2();
		loadNextFile3();
		camera.position.z = 2;
}
var submit_g = function() {
    var grayscaleImg;
    var fd = new FormData();
    $('#load').show();
    var filename = '{{ name }}'
    document.getElementById('grayscale').toBlob(function(blob) {
        grayscaleImage = blob;

        fd.append('grayscale', grayscaleImage, 'grayscale-'+filename);
        fd.append('csrfmiddlewaretoken', getCookie('csrftoken'));
	fd.append('url', '{{ url }}');
        $('#step2-block').hide();
        $('#accordionEx').hide();
        $('#material-btn').hide();
        var tet = $.ajax({
            url: '/models/',
            type: 'POST',
            data: fd,
            async: true,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
              $('#load').hide();
	      $('#accordionEx').show();
	      $('#accordionEx').append(response); 
	      $('#third-step').removeClass("warning").addClass("active");
	      $("#third-step > a > .circle").html("3");  
              $('#again').show();
            },
            error: function (error) {
              $('#load').hide();
	      $('#error').html(error);
              $('#error').show();
            }
        }).responseText;

    }, 'image/png', 1);
}
</script>
